@charset "utf-8";
/* CSS Document */
@font-face{
	font-family: "Dubai-bold";
	src: url("../font/LATIDAN-BOLD.otf");
}
@font-face{
	font-family: "Dubai-light";
	src: url("../font/LATIDAN-REGULAR.otf");
}
@font-face{
	font-family: "Dubai-medium";
	src: url("../font/LATIDAN-MEDIUM.otf");
}
@font-face{
	font-family: "Dubai-regular";
	src:url("../font/LATIDAN-REGULAR.otf");
}
